.animationPageOpen {
  -webkit-animation: animationPageOpenSlowly 1s ease-in-out;
  -moz-animation: animationPageOpenSlowly 1s ease-in-out;
  -o-animation: animationPageOpenSlowly 1s ease-in-out;
  -ms-transition: animationPageOpenSlowly 1s ease-in-out;
  animation: animationPageOpenSlowly 1s ease-in-out;
}
@keyframes animationPageOpenSlowly {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes animationPageOpenSlowly {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-ms-keyframes animationPageOpenSlowly {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes animationPageOpenSlowly {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes animationPageOpenSlowly {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/*=======Swiper js use so need custom css=======*/

.swiper-container {
  width: 100%;
}
.swiper-wrapper {
  display: flex;
  padding: 100px 100px;
  /* padding-right: 400px !important; */
  overflow-x: visible;
}
.swiper-slide {
  width: 100%;
  min-width: 400px;
  padding: 1rem;
  position: relative;
  padding-top: 60px;
}
@media only screen and (max-width: 600px) {
  .swiper-slide {
    width: 100%;
    min-width: 300px;
  }
}
